<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

<!--    DELETE THESE(only for test viewing)   -->
    <link type="text/css" rel="stylesheet" href="../static/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../static/css/media.css" />
<!--    DOWN TO HERE   -->
    <link type="text/css" rel="stylesheet" href="/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/css/media.css" />
    <title>ABG - Alpha, Beta, Gold</title>
</head>
<body>
<nav class="navBar">
    <a href="index.html">
        <img class="logo" src="../static/img/space_icon.svg">
    </a>
    <div class="navList">
        <a href="reviews.html" class="navBtn">Reviews</a>
        <a href="games.html" class="navBtn">Games</a>
        <a href="user_data.html" class="navBtn">User Data</a>
        <a href="about.html" class="navBtn">About</a>
        <a href="contact.html" class="navBtn">Contact</a>
    </div>
    <div class="navUser">
        <a href="profile.html" class="userBtn">User Profile</a>
        <a href="#" class="userBtn">Login/Logout</a>
    </div>
</nav>
<div class="main">
    <h1>ABG - Alpha, Beta, Gold</h1>
</div>
</body>
</html>