<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
          rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link th:rel="stylesheet" th:href="@{../../webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <link type="text/css" rel="stylesheet" href="/css/media.css"/>
    <title>ABG - Alpha, Beta, Gold</title>
</head>
<body>
<div th:replace="fragments/nav_two">Navbar</div>
<!--<nav class="navBar">-->
<!--    <a th:href="@{../../index}">-->
<!--        <img class="logo" src="/img/abg_logo.svg" alt="ABG Logo">-->
<!--    </a>-->
<!--    <div class="navList">-->
<!--        <a th:href="@{../../reviews}" class="navBtn">Reviews</a>-->
<!--        <a th:href="@{../../games}" class="navBtn">Games</a>-->
<!--        <a th:href="@{'../../favorites/{username}' (username = ${#authentication.getPrincipal().getUsername})}" class="navBtn">Favorites</a>-->
<!--        <a th:href="@{../../about}" class="navBtn">About</a>-->
<!--        <a th:href="@{../../contact}" class="navBtn">Contact</a>-->
<!--    </div>-->
<!--    <div class="navUser">-->
<!--        <div class="userWelcome">Welcome-->
<!--            <span class="userName" sec:authentication="name">Username</span>!-->
<!--        </div>-->
<!--        <a sec:authorize="isAuthenticated()" th:href="@{../../user_profile}" class="userBtn">User Profile</a>-->
<!--        <a sec:authorize="isAnonymous()" th:href="@{../../login}" class="userBtn">Login</a>-->
<!--        <a sec:authorize="isAuthenticated()" th:href="@{../../logout}" class="userBtn">Logout</a>-->
<!--    </div>-->
<!--</nav>-->
<div class="main">
</div>
<form class="reviewBox mainContainer" th:action="@{/update}" method="PUT" th:object="${reviews}">
    <div class="reviewHead">
        <input type="hidden" id="updateReviewId" name="updateReviewId" th:value="${reviewId}">
<!--        <input type="hidden" class="reviewAppIdField" name="appId">-->
        <input type="hidden" class="updateReviewTitleField" name="title">
        <input type="hidden" class="updateReviewAuthorField" th:value='${#authentication.getPrincipal().getUsername()}'
               name="userId">
        <input type="hidden" id="hiddenAppId" th:value="${game.appId}">
<!--        <div class="hiddenInfo th:value="${game.appId}"></div>-->
        <div class="reviewing">Reviewing: <span class="updateReviewTitle"></span></div>
        <div class="updateReviewAuthor">Author: <span sec:authentication="name">Username</span> - <a class="reviewLogout"
                                                                                               th:href="@{../../logout}">Not You?</a></div>
    </div>
    <div class="updateReviewForm">
        <label for="updateReviewContent"></label><textarea type="text" th:value="${reviews.review}" th:field="*{review}" id="updateReviewContent" rows="12"
                                                     cols="150" placeholder="Enter review here..." required
                                                     autofocus></textarea>
        <button type="submit" class="btnReview">Update Review</button>
    </div>
</form>

<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="/script/script.js"></script>
<script src="/script/review_script.js"></script>
</body>
</html>